In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
import pickle

In [3]:
df = pd.read_csv("Tk.csv")

In [4]:
df.head()

   Te  Tc   Le  Result
0  22  14  115       1
1  18  16  116       3
2  21  15  113       7
3  20  20  114       5
4  17  13  113       4

In [5]:
X = df.drop("Result",axis=1)

In [6]:
y=df.Result

In [7]:
X.head()

   Te  Tc   Le
0  22  14  115
1  18  16  116
2  21  15  113
3  20  20  114
4  17  13  113

In [9]:
y.head()

0    1
1    3
2    7
3    5
4    4
Name: Result, dtype: int64

In [50]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier(max_depth=4, n_estimators=180)

In [51]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [52]:
RF.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=4, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=180,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [49]:
# pred = RF.predict(X_test)
# from sklearn.metrics import accuracy_score

# accuracy_score(y_test, pred)

0.4

In [53]:
pickle.dump(RF,open('TK.pkl','wb'))
model=pickle.load(open('TK.pkl','rb'))